/* cmsms stylesheet: Module News modified: 11/18/17 14:40:55 */
div#news {
/* margin for the entire div surrounding the news items */
	margin: 2em 0 1em 1em;
/* border set here */
	border: 1px solid #909799;
/* sets it off from surroundings */
	background: #f5f5f5;
}
div#news h2 {
	line-height: 2em;
/* you can set your own image here */
	background: url(//iic.du.ac.in/uploads/ngrey/darknav.png) repeat-x left center;
	color: #f5f5f5;
	border: none
}
.NewsSummary {
/* padding for the news article summary */
	padding: 0.5em 0.5em 1em;
/* margin to the bottom of the news article summary */
	margin: 0 0.5em 1em 0.5em;
	border-bottom: 1px solid #ccc;
}
.NewsSummaryPostdate {
/* smaller than default text size */
	font-size: 90%;
/* bold to set it off from text */
	font-weight: bold;
}
.NewsSummaryLink {
/* bold to set it off from text */
	font-weight: bold;
/* little more room at top */
	padding-top: 0.2em;
}
.NewsSummaryCategory {
/* italic to set it off from text */
	font-style: italic;
	margin: 5px 0;
}
.NewsSummaryAuthor {
/* italic to set it off from text */
	font-style: italic;
	padding-bottom: 0.5em;
}
.NewsSummarySummary, .NewsSummaryContent {
/* larger than default text */
	line-height: 140%;
}
.NewsSummaryMorelink {
	padding-top: 0.5em;
}
#NewsPostDetailDate {
/* smaller text */
	font-size: 90%;
	margin-bottom: 5px;
/* bold to set it off from text */
	font-weight: bold;
}
#NewsPostDetailSummary {
/* larger than default text */
	line-height: 150%;
}
#NewsPostDetailCategory {
/* italic to set it off from text */
	font-style: italic;
	border-top: 1px solid #ccc;
	margin-top: 0.5em;
	padding: 0.2em 0;
}
#NewsPostDetailContent {
	margin-bottom: 15px;
/* larger than default text */
	line-height: 150%;
}
#NewsPostDetailAuthor {
	padding-bottom: 1.5em;
/* italic to set it off from text */
	font-style: italic;
}
/* more divs, left unstyled, just so you know the IDs of them */ 
#NewsPostDetailTitle {
}
#NewsPostDetailHorizRule {
}
#NewsPostDetailPrintLink {
}
#NewsPostDetailReturnLink {
}
div#news ul li {
	padding: 2px 2px 2px 5px;
	margin-left: 20px;
}
/* cmsms stylesheet: Simplex Slideshow modified: 04/21/18 14:58:35 */
.banner {background: #fefefe;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWU5ZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top,  #fefefe 0%, #f1f1f1 47%, #e9e9e9 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(47%,#f1f1f1), color-stop(100%,#e9e9e9));background: -webkit-linear-gradient(top,  #fefefe 0%,#f1f1f1 47%,#e9e9e9 100%);background: -o-linear-gradient(top,  #fefefe 0%,#f1f1f1 47%,#e9e9e9 100%);background: -ms-linear-gradient(top,  #fefefe 0%,#f1f1f1 47%,#e9e9e9 100%);background: linear-gradient(to bottom,  #fefefe 0%,#f1f1f1 47%,#e9e9e9 100%);}.lt-ie9 .banner {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e9e9e9',GradientType=0 );}#sx-slides {position: relative;overflow: hidden;width: 100%;margin: 0 auto;position: relative;height: 380px;}#sx-slides > .sequence-canvas {height: 100%;width: 100%;margin: 0;padding: 0;list-style: none;}#sx-slides > .sequence-canvas > li {position: absolute;width: 100%;height: 100%;z-index: 1;top: -50%;}#sx-slides > .sequence-canvas > li img {height: 96%;}#sx-slides > .sequence-canvas li > * {position: absolute;-webkit-transition-property: left, bottom, right, top, -webkit-transform, opacity;-moz-transition-property: left, bottom, right, top, -moz-opacity;-ms-transition-property: left, bottom, right, top, -ms-opacity;-o-transition-property: left, bottom, right, top, -o-opacity;transition-property: left, bottom, right, top, transform, opacity;}#sx-slides .title {color: ;font-size: 2.25em;line-height: 1.1;font-weight: 700;left: 65%;opacity: 0;bottom: 22%;z-index: 50;margin-top: 0;}#sx-slides .animate-in .title {left: 12%;opacity: 1;-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;-ms-transition-duration: 0.8s;-o-transition-duration: 0.8s;transition-duration: 0.8s;}#sx-slides .animate-out .title {left: 35%;opacity: 0;-webkit-transition-duration: 0.3s;-moz-transition-duration: 0.3s;-ms-transition-duration: 0.3s;-o-transition-duration: 0.3s;transition-duration: 0.3s;}#sx-slides .subtitle {margin-top: 0;z-index: 5;color: ;font-family: 'Oswald', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-weight: 700;font-size: 1.8125em;left: 35%;opacity: 0;top: 72%;}#sx-slides .animate-in .subtitle {left: 20%;opacity: 1;-webkit-transition-duration: 1.3s;-moz-transition-duration: 1.3s;-ms-transition-duration: 1.3s;-o-transition-duration: 1.3s;transition-duration: 1.3s;}#sx-slides .animate-out .subtitle {left: 65%;opacity: 0;-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;-ms-transition-duration: 0.8s;-o-transition-duration: 0.8s;transition-duration: 0.8s;}#sx-slides .image {left: -10px;position: absolute;bottom: 800px;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);opacity: 0;max-width: 70%;height: auto !important;max-height: 275px !important;}#sx-slides .animate-in .image {left: 14%;bottom: -49%;opacity: 1;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition-duration: 2s;-moz-transition-duration: 2s;-ms-transition-duration: 2s;-o-transition-duration: 2s;transition-duration: 2s;}#sx-slides .animate-out .image {left: -10px;bottom: -800px;opacity: 0;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);-webkit-transition-duration: 1s;-moz-transition-duration: 1s;-ms-transition-duration: 1s;-o-transition-duration: 1s;transition-duration: 1s;}@media only screen and (min-width: 768px) {#sx-slides .title {font-size: 3em;}#sx-slides .animate-in .title {left: 3%;}#sx-slides .subtitle {font-size: 2.5em;}#sx-slides .animate-in .subtitle {left: 8%;}#sx-slides .image {left: auto;right: -10px;position: absolute;max-width: 70%;height: auto !important;max-height: 300px !important;}#sx-slides .animate-in .image {left: auto;right: 5%;bottom: -45%;}#sx-slides .animate-out .image {left: auto;bottom: -800px;}}@media only screen and (min-width: 1050px) {#sx-slides {height: 440px;}#sx-slides .title {font-size: 3.25em;bottom: 15%;}#sx-slides .animate-in .title {left: 8%;}#sx-slides .subtitle {font-size: 2.875em;top: 78%}#sx-slides .animate-in .subtitle {left: 12%;}#sx-slides .image {max-width: 90%;height: auto !important;max-height: 400px !important;}}
